@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vend Sans';
}


/* HEADER + NAV */

header{
    margin: 0px 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Permanent Marker';
    font-size: 3.5em;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color:black;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}


/* IZDELKI */

.izdelki{
    margin: 0px 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.izdelki div{
    width: 60%;
    padding: 25px;
    font-size: 1.3em;
    text-align: justify;
}

.izdelki div h2{
    font-family: 'Permanent Marker';
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    
}

.izdelki img{
    width: 40%;
    height: auto;
}


/* MOJA TISKARNA */

.moja-tiskarna{
    margin: 0px 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form{
    width: 40%;
    font-size: 1em;
}

.moja-tiskarna div{
    width: 60%;
    padding: 25px;
    font-size: 1.3em;
    text-align: justify;
}

.moja-tiskarna div h2{
    font-family: 'Permanent Marker';
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    text-decoration: underline;
}

.oddaja{
    font-size: 0.8em;
}

input[type="text"], input[type="email"]{
    border: 1px solid black;
    padding: 0 5px;
}

input[type="file"]::file-selector-button, input[type="submit"]{
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

input[type="file"]::file-selector-button:hover, input[type="submit"]:hover{
    background-color: white;
    color: black;
}

/* O NAS */

.o-nas{
    background-color: black;
    color: white;
    padding: 35px 0;
    
}

.o-nas h2{
    text-align: center;
    margin: 0px 350px;
    font-family: 'Permanent Marker';
    font-size: 1.8em;
    margin-bottom: 15px;
}

.o-nas p{
    text-align: center;
    margin: 0px 350px;
    font-size: 1.3em;
}


/* GALERIJA */

.galerija{
    margin: 15px 350px;
}

.galerija h4{
    font-family: 'Permanent Marker';
    font-size: 1.5em;
    text-align: center;
}

.slike{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slike img{
    max-width: 350px;
    width: 100%;
    height: auto;
}


/* KONTAKT */

aside{
    padding-top: 15pxa;
    background-color: black;
    color: white;
}

aside h3{
    font-family: 'Permanent Marker';
    font-size: 1.7em;
    margin: 0px 350px;
    text-align: center;
}

aside p{
    text-align: center;
    margin: 0px 350px;
    font-size: 1.3em;
}

aside div{
    margin-top: 20px;
}

.iframe-maps{
    margin: 0px 350px;
    padding: 15px 0;
}

iframe{
    width:100%;
    height: auto;
}


/* FOOTER */
footer{
    background-color: black;
    
}
.footer{
    margin: 0px 350px;
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.5em;
    color:white;
}

.footer div{
    width: 100%;
    height: auto;
    max-height: 70px;
    margin: 5px 0px;
    border-right: 1px solid rgb(255, 255, 255);
    text-align: center; 
}

.footer div ul li{
    list-style-type: none;
}

.footer div ul li a{
    text-decoration: none;
    color:white;
}

.footer div ul li a:hover{
    text-decoration: underline;
}

.footer p{
    width: 100%;
    text-align: center;
    height: auto;
    max-height: 70px;
    margin: 5px 0px;
}